.over_video{
  position: fixed;
  top: 15%;
  width: 100%;
  z-index: 99;
}
.over_video_p1{
  font-size: 40px;
  font-family: lobster , cursive;
  background: lightgrey;
  text-align: center;
  border-radius: 75px;
  height: 80px;
  opacity: 0.2;
}
.heading1{
  margin-left: 20px;;
  font-family: Lobster, cursive;
  font-size: 60px;
  width: 400px;
  float: left;
  /*color: whitesmoke;-*/
  color:whitesmoke;
  /*text-shadow: 5px 5px 15px black;*/
}
.wrap {
  position: fixed;
  min-width: 1300px;
  z-index: 99;
  opacity: 0.8;
}
.ul1{
  margin-top: 30px;
  float: left;
}
.ul1 a{
  letter-spacing: 2px;
  font-style:oblique;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding-right: 15px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  transition: all .2s ease-in-out;
}
.ul1 a:hover{
  font-size: 25px;
  letter-spacing: 1px;
  color: gold;
  transition: all 0.5s ease-out;
  transform: scale(1.1);
}
.ul1 a:after {
  font-size: 25px;
  letter-spacing: 1px;
  transition: all 5s ease-out;
  /*transition-delay: 2s;*/
}
.ul1 li{
  /*background: yellow;*/
  margin-top:
  text-decoration: none;
  display: inline;
}
video {
    margin-top: 0px;
    width: 100%;
    position: fixed;
}
.footer1{
  position: absolute;
  border-spacing: 5px;
  border-color: black;
  border-top: solid;
  border-top-width: 3px;
  border-top-width: thick;
  background: lightgrey;
  /*background: url(../IMG/messi.jpg) no-repeat;*/
  width: 100%;
  height: 55%;
  top: 110%;
  opacity: 0.8;
}
.footer1_div1{
  position: relative;
  float: left;
}
.footer1_div1_Topic{
  float: left;
  background: url(../IMG/Image2.jpg) no-repeat;
  width: 20%;
  font-family: Lobster, cursive;
  font-size: 45px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding-top: 110px;
  padding-left: 40px;
  background-size: cover;
  padding-bottom: 95px;
  padding-right: 60px;
  margin-left: 10px;
  z-index: 100;
  border-top-right-radius: 125px;
  border-top-left-radius: 125px;
  border-bottom-left-radius: 125px;
  border-bottom-right-radius: 125px;
  opacity: 1;
}
.footer1_div1_span1{
  color: black;
  font-size: 20px;
  padding-left: 5px;
  margin-top: 185px;
  position: relative;
  float: left;
}
.footer1_div2{
  letter-spacing: 2px;
  padding-left:35px;
  padding-top: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}
.footer1_div2 h1{
  color: green;
  padding-bottom: 10px;
}
.footer1_div2 h1 a{
  color: black;
  text-decoration: none;
}
.footer1_div2_h1{
  font-size: 30px;
  font-family: lobster , curvasive;
}
.footer1_div3{
  letter-spacing: 2px;
  padding-left:35px;
  padding-top: 15px;
  position: relative;
  float: left;
}
.footer1_div3 h1{
  color: green;
  padding-bottom: 10px;
}
.footer1_div3 h1 a{
  color: black;
  text-decoration: none;
}
.footer1_div3_h1{
  font-size: 30px;
  font-family: lobster , curvasive;
}
.footer1_div3{
  border-left: solid;
  border-color: black;
  border-left-width: 3px;
  letter-spacing: 2px;
  padding-left:35px;
  padding-top: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}
.footer1_div3 h1{
  color: green;
  padding-bottom: 10px;
}
.footer1_div3 h1 a{
  color: black;
  text-decoration: none;
}
.footer1_div3_h1{
  font-size: 30px;
  font-family: lobster , curvasive;
}
.footer1_div4{
  border-left: solid;
  border-left-color: black;
  letter-spacing: 2px;
  padding-left:35px;
  padding-top: 15px;
  position: relative;
  float: left;
}
.footer1_div4 h1{
  color: green;
  padding-bottom: 10px;
}
.footer1_div4 h1 a{
  color: black;
  text-decoration: none;
}
.footer1_div4_h1{
  font-size: 30px;
  font-family: lobster , curvasive;
}
.footer1_div5{
  width: 700px;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 35px;
  float:left;
  font-family: lobster , cursive;
  font-weight: bold;
}
.footer1_div5_id2{
  margin-top: 10px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  padding-right: 10px;
  float: left;opacity: 0.4;
}
.footer1_div5_id2:hover{
  transition: all 0.5s ease-out;
  transform: scale(1.1);
  opacity: 1;
}
.footer1_div5_id2:after{
  transition: all 0.5s ease-out;
  transform: scale(1.0);
  opacity: 0.8;
}
