video {
  margin: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('http://e2.365dm.com/16/03/768x432/cristiano-ronaldo-real-madrid_3426628.jpg?20160305165528') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
