.heading1
{
  margin-left: 20px;;
  font-family: Lobster, cursive;
  font-size: 60px;
  width: 400px;
  float: left;
  /*color: whitesmoke;-*/
  color:grey;
  /*text-shadow: 5px 5px 15px black;*/
}
.wrap {
  background-color: transparent;
  position: fixed;
  min-width: 1300px;
  z-index: 99;
}
.ul1{
  margin-top: 30px;
  float: left;
}
.ul1 a{

  letter-spacing: 2px;
  font-style:oblique;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding-right: 15px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
}
/*.ul1 li:hover{
  font-size: 10px;
}*/
.ul1 a:hover {
  font-size: 25px;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
  /*transition-delay: 2s;*/
}
.ul1 a:after {
  font-size: 25px;
  letter-spacing: 1px;
  transition: all 5s ease-out;
  /*transition-delay: 2s;*/
}
.ul1 li
{
  /*background: yellow;*/
  margin-top:
  text-decoration: none;
  display: inline;
}

/*body{
  width: 100%;
  height: 100%;
  background: url(IMG/Image1.jpg) no-repeat;
  z-index: -1000;
}*/
/*.grid_4{
  background: red;
}
.gird_8{
  background: yellow;
}*/
video {
    margin-top: 0px;
    width: 100%;
    position: fixed;
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*top: 50%;
    left: 50%;*/
    /*min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;*/
    /*z-index: -1000;*/
    /*
    transform: translateX(-50%) translateY(-50%);
 background: url('http://e2.365dm.com/16/03/768x432/cristiano-ronaldo-real-madrid_3426628.jpg?20160305165528');
  background-size: cover;
  transition: 1s opacity;*/
}
.wrapper {
  position: absolute;
  height: 200%;
  width: 100%;
  background-color: red;
  top: 100%;
}
/*.wrapper
{
    position: absolute;;
    bottom: 450px;
    margin-left: 10%;
    margin-right: 60%;
    border-radius: 35%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}*/
